/* Makes width and padding easier to control layout*/
* {
box-sizing: border-box;
}

/* Basic page styling */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hotpink;
  color: #111;
}

/* Page container */
/* Centers the whole page content*/
.page-container {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Accessibility helper*/
/* Hiddes text visually but keeps it accessible for screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Container for the decorative divider and basket icon */
.side-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

/* Decorative divider image at the top of the page */
.divider {
  width: 700px;
  display: block;
  margin: 0px auto 120px auto;
}

/* Position of the shopping basket icon */
.basket-link {
  position: absolute;
  top: 160px;
  right: 370px;
}

/* Size of the shopping basket icon */
.basket-icon {
  width: 90px;
  height: 90px;
}

/* Gallery Layout */
/* Main gallery container using flexbox */
.gallery {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* photos stacked vertically */
  gap: 5px;               /* space between photo cards */
}

/* Individual photo card */
.photo-card {
  background-color: transparent;
}

/* Removes default figure margin */
.photo-card figure {
  margin: 0;
}

/* Ensures images scale correctly within the layout */
.photo-card img {
  display: block;
  width: 750px;
  height: auto;
}

/* Photo Caption styling */
/* Text area under each imagen */
.photo-card figcaption {
  background-color: #f1efb3;
  color: #6ec1e4;
  font-size: 35px;
  padding: 6px 8px;
}

/* Button styling */
/* Styling for the "Add to basket" button */ 
.photo-card button {
  margin-top: 20px;
  padding: 6px 6px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #999;
  background-color: #f5f5f5;
}

/* Button hover effect */
.photo-card button:hover {
  background-color: #e7e7e7;
}

/* Button focus style for accessibility */
.photo-card button:focus {
  outline: 3px solid #000;
  outline-offset: 2px;
}

/* Footer section */
/* Footer container */
.site-footer {
  width: 420px;
  margin-top: 10px;
  margin-left: 0px;
}

/* Copyright text styling */
.site-footer p {
  margin: 10 18 30px 10;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}

/* Navigation list styling */
.site_footer ul {
  margin: 0;
  padding-left: 20px;
}

.site-footer li {
  margin-bottom: 10px;
}
 
/* Footer link styling */
.site-footer a {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

/* Hover and focus state for footer links */
.site-footer a:hover,
.site-footer a:focus {
  text-decoration: none;
  color: #2e0854;
}